<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-8">
			<h1>Freelancer Dashboard</h1>
			<p class="lead"><i>Everything you need to manage your freelance business.</i></p>

			<li><a href="
			https://freelance-st-documents.herokuapp.com/freelance_documents" target="_blank">Documents API</a></li>
			<li><a href="https://freelance-st-proposals.herokuapp.com/proposals" target="_blank">Proposals API</a></li>

			<br>
			<small>By<a href="https://www.linkedin.com/in/stxts" target="_blank"> Songtham Tungkitkancharoen </a></small>
			</div>
			<div class="col-sm-4">
			<img src="https://s3.amazonaws.com/stxts-profile/freelance_logo.png" style="max-width: 100%;padding-top: 20px;" alt="Freelance" width="200" height="200">
			</div>
		</div>
	</div>
</div>